version: 2
updates:
  - package-ecosystem: 'npm'
    directories:
      - '/'
      - 'pages/'
      - 'cms-data-fetcher/'
      - 'ogp-data-fetcher/'
      - 'cms-cache-purger/'
      - 'sns-article-publisher/'
    schedule:
      interval: 'daily'
    cooldown:
      default-days: 7
      include:
        - '*'
    groups:
      dependencies:
        patterns:
          - '*'
        exclude-patterns:
          - 'next'
          - '@opennextjs/cloudflare'
      next:
        patterns:
          - 'next'
        update-types:
          - 'minor'
          - 'patch'
      opennext-cloudflare:
        patterns:
          - '@opennextjs/cloudflare'
    target-branch: 'development'
    allow:
      - dependency-type: 'all'
    ignore:
      - dependency-name: 'sns-article-publisher'
      - dependency-name: 'cms-cache-purger'
      - dependency-name: 'cms-data-fetcher'
      - dependency-name: 'ogp-data-fetcher'
      - dependency-name: 'pages'
      - dependency-name: 'packages/*'
      - dependency-name: 'next'
        update-types:
          - 'version-update:semver-major'
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'daily'
    target-branch: 'development'
    cooldown:
      default-days: 7
      include:
        - '*'
