name = "maretol-base-v3"
main = ".open-next/worker.js"
compatibility_date = "2025-05-05"
compatibility_flags = [ "nodejs_compat", "global_fetch_strictly_public" ]

routes = [
    { pattern = "www.maretol.xyz", custom_domain = true }
]
services = [
    { binding = "OGP_FETCHER", service = "ogp-data-fetcher", environment = "production" },
    { binding = "CMS_FETCHER", service = "cms-data-fetcher", environment = "production" },
    { binding = "OGP_RPC", service = "ogp-data-fetcher", environment = "production" },
    { binding = "CMS_RPC", service = "cms-data-fetcher", environment = "production" },
]
kv_namespaces = [
    { binding = "OGP_FETCHER_CACHE", id = "e12d978b90ba4e798961650595d5e9a8"},
    { binding = "CMS_CACHE", id = "d646b5cb3f0944219d81897d4117e20f"},
    { binding = "IMAGE_CACHE", id = "7dcf481f5bba4e4690f8480b02666015"}
]
secrets_store_secrets = [
    { binding="CLARITY_ID", store_id="da1dbdf4b4e24ed3b82c0d8e117f09d4", secret_name="CLARITY_ID" },
    { binding="AXIOM_ENDPOINT", store_id="da1dbdf4b4e24ed3b82c0d8e117f09d4", secret_name="AXIOM_ENDPOINT" },
    { binding="AXIOM_APITOKEN", store_id="da1dbdf4b4e24ed3b82c0d8e117f09d4", secret_name="AXIOM_APITOKEN" }
]

[dev]
port = 9593

[assets]
directory = ".open-next/assets"
binding = "ASSETS"

[observability]
enabled = true

[vars]
HOST = "https://www.maretol.xyz"
ENV = "PRD"

[env.staging.vars]
HOST = "https://maretol-base-v3-stg.maretol-ruha.workers.dev"
ENV = "STG"

[env.staging]
name = "maretol-base-v3-stg"
routes = [
]
workers_dev = true
services = [
    { binding = "OGP_FETCHER", service = "ogp-data-fetcher-stg", environment = "production" },
    { binding = "CMS_FETCHER", service = "cms-data-fetcher-stg", environment = "production" },
    { binding = "OGP_RPC", service = "ogp-data-fetcher-stg", environment = "production" },
    { binding = "CMS_RPC", service = "cms-data-fetcher-stg", environment = "production", entrypoint = "CMSDataFetcher" },
]
kv_namespaces = [
    { binding = "OGP_FETCHER_CACHE", id = "e12d978b90ba4e798961650595d5e9a8"},
    { binding = "CMS_CACHE", id = "d646b5cb3f0944219d81897d4117e20f"},
    { binding = "IMAGE_CACHE", id = "7dcf481f5bba4e4690f8480b02666015"}
]
secrets_store_secrets = [
    { binding="CLARITY_ID", store_id="da1dbdf4b4e24ed3b82c0d8e117f09d4", secret_name="CLARITY_ID" },
    { binding="AXIOM_ENDPOINT", store_id="da1dbdf4b4e24ed3b82c0d8e117f09d4", secret_name="AXIOM_ENDPOINT" },
    { binding="AXIOM_APITOKEN", store_id="da1dbdf4b4e24ed3b82c0d8e117f09d4", secret_name="AXIOM_APITOKEN" }
]